.main-content-center {
    position: relative;
}

.content-center {
    position: absolute;
    width: 671px;
}

.tab-organism {
    width: 671px;
    height: 40px;
    /* border: 1px solid black; */
}

.frame29 {
    display: flex;
    gap: 6px;
}

.tabv1 {
    margin-left: 6px;
    width: 163px;
    height: 40px;
    display: flex;
    padding: 11px 20px 11px 30px;
    border-radius: 4px 4px 0px 0px;
    border: 1px 1px 0px 1px;
    gap: 6px;
    cursor: pointer;
    background: linear-gradient(0deg, #DBDBDB, #DBDBDB),
        linear-gradient(0deg, #F2F2F2, #F2F2F2);
}

.tabv2 {
    width: 131px;
    height: 40px;
    padding: 4px 0px 0px 0px;
    border-radius: 4px 4px 0px 0px;
    border: 1px 1px 0px 1px;
    /* border: 1px solid blue; */
    cursor: pointer;
    background: linear-gradient(0deg, #DBDBDB, #DBDBDB),
        linear-gradient(0deg, #F2F2F2, #F2F2F2);


}

.tabv3 {
    width: 129px;
    height: 40px;
    padding: 4px 0px 0px 0px;
    border-radius: 4px 4px 0px 0px;
    border: 1px 1px 0px 1px;
    cursor: pointer;
    background: linear-gradient(0deg, #DBDBDB, #DBDBDB),
        linear-gradient(0deg, #F2F2F2, #F2F2F2);

}

.tabv4 {
    width: 67px;
    height: 40px;
    padding: 4px 0px 0px 0px;
    border-radius: 4px 4px 0px 0px;
    border: 1px 1px 0px 1px;
    /* border: 1px solid blue; */
    cursor: pointer;
    background: linear-gradient(0deg, #DBDBDB, #DBDBDB),
        linear-gradient(0deg, #F2F2F2, #F2F2F2);
}

.tabv5 {
    width: 73px;
    height: 40px;
    padding: 4px 0px 0px 0px;
    border-radius: 4px 4px 0px 0px;
    border: 1px 1px 0px 1px;
    /* border: 1px solid blue; */
    cursor: pointer;
    background: linear-gradient(0deg, #DBDBDB, #DBDBDB),
        linear-gradient(0deg, #F2F2F2, #F2F2F2);
}

.tabv1.active,
.tabv2.active,
.tabv3.active,
.tabv4.active,
.tabv5.active {
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #3BA3DD;
    font-weight: 700;
    background: linear-gradient(0deg, white, white),
        linear-gradient(0deg, #FFFFFF, #FFFFFF);
}


.tabscontent {
    width: 616px;
    padding: 10px 95px 10px 10px;
    border-radius: 4px;
    background: #E6F7FF80;
    margin-left: 30px;

}

.frame27 {
    width: 101px;
    height: 14px;
    gap: 6px;
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
}

.tab1name {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
}

.frame31 {
    width: 137px;
    height: 36px;
    padding: 9px 10px 8px 12px;
    border-radius: 4px 4px 0px 0px;
    border: 1px 1px 0px 1px;
    gap: 6px;
    text-align: center;
}

.frame31-0 {
    width: 137px;
    height: 36px;
    padding: 9px 10px 8px 18px;
    border-radius: 4px 4px 0px 0px;
    border: 1px 1px 0px 1px;
    gap: 6px;
    text-align: center;
}

.tab2name {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
}

.frame31-1 {
    text-align: center;
    width: 67px;
    height: 36px;
    padding: 9px 10px 8px 12px;
    border-radius: 4px 4px 0px 0px;
    border: 1px 1px 0px 1px;
    gap: 6px;
}

.tab4name {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
}

.frame31-2 {
    width: 73px;
    height: 36px;
    padding: 9px 10px 8px 12px;
    border-radius: 4px 4px 0px 0px;
    border: 1px 1px 0px 1px;
    gap: 6px;
}

.tab5name {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000CC;
    text-align: center;

}

.tabv1.active>div>p,
.tabv2.active>div>p,
.tabv3.active>div>p,
.tabv4.active>div>p,
.tabv5.active>div>p {
    font-weight: 700;
    padding-left: -3px;
}