.tabv6Section {
    /* height: 589px; */
    width: 616px;
    border-radius: 4px;
    gap: 10px;
  
    /* border: 1px solid #133D7A; */
}

.tabv6Section-1 {
    width: 523px;
    height: 338px;
    margin-top: 93px;
    margin-left: 24px;
    /* border: 1px solid red; */
}

.ChangePasswordOuterSection {
    display: flex;
    justify-content: space-between;
}

.PasswordWithSemiCol_Section {
    display: flex;
    justify-content: space-between;
}

.PasswordNameSection {
    width: 226px;
    height: 20px;
    margin-top: 13px
}

.PasswordNameSection>p {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}

.changePasswordSemiCol {
    width: 6px;
    height: 20px;
    margin-top: 13px;
    /* left: 246px; */
}

.changePasswordSemiCol>p {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}


.InputBox>input {
    width: 248px;
    height: 46px;
    background-color: #f2fbff;
    border-radius: 3px;
    border: 1px solid #1C375A4D;
}

.input-box {
    outline: 1px solid #E6F7FF80;
    padding-left: 15px;
    font-weight: 400;
    font-size: 18px;
}

.enterNewPasswordSection {
    margin-top: 100px;
}

.confirmNewPasswordSection {
    margin-top: 100px;
}

.ChangeSaveButtonSection {
    margin-top: 106px;
    width: 133px;
    height: 42px;
    padding: 12px 20px 12px 20px;
    border-radius: 4px;
    border: 1px;
    gap: 10px;
    background-color: #133D7A;
    margin-left: 449px;
    cursor: pointer;
}

.changeSaveButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px;

}

.changeSaveButton>p {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    color: white;

}